
body {
    background: rgb(228, 172, 172);
    margin-left: 200px;
    margin-right: 200px;
}

header {
    margin-top: 70px;
}

h1 {
    color: rgb(168, 32, 32);
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

footer {
    margin-bottom: 30px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.logo {
    width: 150px;
}